<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



        <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/ajax_request.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/delete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/create.js' %}"></script>
    <link href="{% static 'css/create.css' %}" rel="stylesheet"/>
</head>
<body>

<form class="form-style-9" action="/create/" method="post">
<ul>
<li>
    <input type="text" name="name" class="field-style field-split align-left" placeholder="Name" />

</li>


<li>
<textarea name="description" class="field-style" placeholder="Description"></textarea>
</li>
<li>
<input type="submit" value="Create Task" />
</li>
</ul>
</form>


</body>
</html>